<section id="about">
   <div class="about container">
      <div class="col-left">
         <div class="about-img">
            <img src="/assets/img/my_photo.jpg" alt="img" width="300">
         </div>
      </div>
      <div class="col-right">
         <h1 class="section-title"> ABOUT <span>ME</span></h1>
         <h2>Front End Web Developer</h2>
         <p>I became interested in programming a year ago and decided to study it. I graduated from Fron End, after
            which I engaged in self-education. I have the following technology stack: HTML, CSS, JS. I am currently
            studying WEB UI courses at SoftServ. I am very happy to attend these courses. In the future, I want to
            become part of SoftServ, where I can realize myself as a programmer.</p>
         <a href='/assets/cv/LA.pdf' target="_blank" class="phone">see Resume</a>
      </div>
   </div>
</section>