/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


body{
   background-size: cover;
}


p{
   margin: 0;
}

ul{
   list-style-type: none;
   padding: 0;
   
}
a{
   text-decoration: none;
}

.p-flex{
   display: flex;
   justify-content: space-between;
}



