<section id="hero">
   <div class="hero container">
      <div>
         <h1>Hello,<span></span></h1>
         <h1>My name is <span></span></h1>
         <h1>Andriy <span></span></h1>
      </div>
      <div class="contact">
         <div class="phone">
            <a href="tel:+380(98) 726-97-04">+380(98) 726-97-04<img src="/assets/img/002-smartphone.png" width="30"></a>
         </div>
         <div class="phone">
            <a href="mailto:lashch.andriy25@gmail.com" target="_blank">Give me question<img
                  src="/assets/img/003-email.png" width="30"></a>
         </div>
         <div class="phone">
            <a href="https://telegram.me/AndriyLashch" target="_blank">My Telegram <img
                  src="/assets/img/004-telegram.png" width="30"></a>
         </div>
      </div>
   </div>
</section>